[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "content/reference"]
	path = content/reference
	url = https://github.com/timschieck/food_reference.git
